---
import Layout from "~/layouts/PageLayout.astro";
import { t, changeLanguage } from "i18next";
import Hero from "~/components/widgets/Hero.astro";
import Features from "~/components/widgets/Features.astro";
import Features2 from "~/components/widgets/Features2.astro";
import Steps from "~/components/widgets/Steps.astro";
import BlogLatestPosts from "~/components/widgets/BlogLatestPosts.astro";
import FAQs from "~/components/widgets/FAQs.astro";
import Stats from "~/components/widgets/Stats.astro";

changeLanguage("fr");

const metadata = {
    title: "Africtivistes CitizenLab Mauritanie \uD83C\uDDF2\uD83C\uDDF7 \u2014 Votre plateforme d\u2019informations citoyennes",
    ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    actions={[
      { text: t('site.more'),
        href: '#features',
        variant: 'primary' },
    ]}
  >
    <Fragment slot="title">
      {t('site.slogan')}
      <span class="text-accent dark:text-accent highlight"> {t('site.slogan1')}</span>
      {t('site.slogan2')} <span class="text-primary dark:text-primary highlight" >{t('site.slogan3')} </span> 
    </Fragment>
    <Fragment slot="subtitle">
      {t('site.info-projet')}
    </Fragment>
  </Hero>
  
  <!-- HighlightedPosts Widget ******* -->

  <BlogLatestPosts
    title={t('actualites.name')}
    information={t('actualites.description')}
  />

  <!-- Features Widget *************** -->

  <Features
    id="features"
    tagline={t('heroObjectifs.highlight')}
    title={t('heroObjectifs.title')}
    subtitle={t('heroObjectifs.subtitle')}
    items={[
      {
        title: t('heroObjectifs.items.title1'),
        description:t('heroObjectifs.items.description1'),
        icon: 'tabler:components',
      },
      {
        title: t('heroObjectifs.items.title2'),
        description:t('heroObjectifs.items.description2'),
        icon: 'tabler:components',
      },
      {
        title: t('heroObjectifs.items.title3'),
        description:t('heroObjectifs.items.description3'),
        icon: 'tabler:link',
      },
      {
        title: t('heroObjectifs.items.title4'),
        description:t('heroObjectifs.items.description4'),
        icon: 'tabler:rocket',
      },
      {
        title: t('heroObjectifs.items.title5'),
        description:t('heroObjectifs.items.description5'),
        icon: 'tabler:database',
      },
      {
        title: t('heroObjectifs.items.title6'),
        description:t('heroObjectifs.items.description6'),
        icon: 'tabler:transform',
      },
    ]}
  />

  <!-- Steps Widget ****************** -->
  <Steps
    title={t('projectStep.title')}
    items={[
      {
        title: t('projectStep.items.date1'),
        description: t('projectStep.items.step1'),
        icon: 'tabler:package',
      },
      {
        title: t('projectStep.items.date2'),
        description: t('projectStep.items.step2'),
        icon: 'tabler:letter-case',
      },
      {
        title: t('projectStep.items.date3'),
        description: t('projectStep.items.step3'),
        icon: 'tabler:paint',
      },
      {
        title: t('projectStep.items.date4'),
        icon: 'tabler:check',
      },
    ]}
    image={{
      src: '~/assets/images/formation1.jpg',
      alt: 'Steps image',
    }}
  />

  <!-- Features2 Widget ************** -->

 <Features2
    title={t('citoyennete.title')}
    subtitle={t('citoyennete.description')}
    highlight={t('citoyennete.highlight')}
    items={[
      {
        title: t('citoyennete.items.title1'),
        description: t('citoyennete.items.description1'),
        icon: 'flat-color-icons:template',
      },
      {
        title: t('citoyennete.items.title2'),
        description: t('citoyennete.items.description2'),
        icon: 'flat-color-icons:gallery',
      },
      {
        title: t('citoyennete.items.title3'),
        description: t('citoyennete.items.description3'),
        icon: 'flat-color-icons:todo-list',
      },
      {
        title: t('citoyennete.items.title4'),
        description: t('citoyennete.items.description4'),
        icon: 'flat-color-icons:document',
      },
      {
        title: t('citoyennete.items.title5'),
        description: t('citoyennete.items.description5'),
        icon: 'flat-color-icons:advertising',
      },
      {
        title: t('citoyennete.items.title6'),
        description: t('citoyennete.items.description6'),
        icon: 'flat-color-icons:currency-exchange',
      },
      {
        title: t('citoyennete.items.title7'),
        description: t('citoyennete.items.description7'),
        icon: 'flat-color-icons:voice-presentation',
      },
      {
        title: t('citoyennete.items.title8'),
        description: t('citoyennete.items.description8'),
        icon: 'flat-color-icons:business-contact',
      },
      {
        title: t('citoyennete.items.title9'),
        description: t('citoyennete.items.description9'),
        icon: 'flat-color-icons:business-contact',
      },
    ]}
  />




  <!-- FAQs Widget ******************* -->
<FAQs
    title={t('faq.name')}
    subtitle={t('faq.description')}
    tagline="FAQs"
    classes={{ container: 'max-w-6xl' }}
    items={[
        {
          title: t('faq.q1'),
          description: t('faq.r1'),
        },
        {
          title: t('faq.q2'),
          description: t('faq.r2'),
        },
        {
          title: t('faq.q3'),
          description: t('faq.r3'),
        },      
        {
          title: t('faq.q4'),
          description: t('faq.r4'),
        },
        {
          title: t('faq.q5'),
          description: t('faq.r5'),
        },
        {
          title: t('faq.q5'),
          description: t('faq.r5'),
        },
    ]}
  />

  <!-- Stats Widget ****************** -->

  <Stats
    stats={[
      { title: t('stats.application'), amount: '1' },
      { title: t('stats.langues'), amount: '4' },
      { title: t('stats.jeunes'), amount: '17' },
      { title: t('stats.internautes'), amount: '1,73M' },
    ]}
  />



  
</Layout>
